@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

body {
    margin: 0;
    color: white;
    background-image:linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);;
    padding:0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    background-position: center center;
    
}


#bg {
    /* display:inline-block; */
    
    width:100%; 
    height:100%;
    /* object-fit: cover; */
    position: absolute;
    /* left:0;
    right:0;
    margin-left: auto;
    margin-right: auto; */
    
    z-index:-2;
} 

button {
    align-self: flex-end;
    border: 1px solid #0b77b6 ;
    font-size: 1.2rem;
    background: #0b77b6;
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#buttons {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

button:hover {
    color: #ffffff !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    }

#overlay {
    position:absolute;
    width: 100vw;
    height: 100vh;
    opacity: 50%;
    z-index: -1;
    
}


#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#quote {
    font-family: 'Pinyon Script', cursive;
    font-weight: bold;
    letter-spacing: 2px;
    position:relative;
    z-index:1;
    height: 50%;
    width: 50%;
    font-size: 6rem;
    text-align: center;
}

#settings {
    background-color: rgba(50, 115, 220, 0.3);;
    border-radius: 10px 10px 0 0;
    width: 90vw;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding-bottom: 10px;
    height: 20vh;
    overflow: hidden;
}

h2 {
    text-align: center;
    user-select: none;
}
label {
    font-size: 1.3rem;
    padding: 5px;    
}

#displaySettings > div {
    margin: 0;
}

textarea {
    height:5vh;
    width:35vw;
}